.banner {
    background-image: url(https://source.unsplash.com/random/1000x500);
    background-size: cover;
    color: white;
    padding: 120px 0;
}

.container {
    width: 700px;
    margin: 50px auto;
}

h1{
  font-size: 100px;
}
h3{
  font-size: 30px;
}

h2 {
    color: #A0A0A0;
    font-weight: bold;
}

a {
  text-decoration: none;
  color: grey;
}

a :hover{
  color:#A0A0A0;
}


